.filter-sort-bar{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
    justify-content: flex-end;
}

.filter-dropdown, .sort-dropdown{
    padding: 0.5rem 1rem;
    border-radius: none;
    border: 1.5px solid #ffd70f;
    background: #fffbe6;
    font-size: 1rem;
    color: #222;
}